extends layout

block content
	div
	p
	center	
		a(id='sender')='node voting system!'
	p
		a(id='up') <img src="http://tadcoenvironmental.com/img/arrowup.png">
	p
		a(id='down') <img src="http://tadcoenvironmental.com/img/downarrow.png">
			
		ul(id='receiver')