extends layout


block content
	div
	p
	center	
		a(id='sender')='node voting system!'
	p
		a(id='upC') <img src="http://tadcoenvironmental.com/img/arrowup.png">
	p
		a(id='downC') <img src="http://tadcoenvironmental.com/img/downarrow.png">
			
		ul(id='receiver')

	p(id='votecount') ~
	
		p(id='image') 
	<img src="#{linkToImage}">
